
uvicorn[standard]
pydantic
numpy
pandas
scikit-learn
joblib
mlflow
prometheus-client
python-dotenv
mlflow
psycopg2-binary
boto3
pydantic-settings 
fastapi==0.141.1

pytest==9.1.1
pytest-cov==7.0.0
httpx==0.28.1
httpx2